<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/jyoti/IdeaProjects/WebAutomation_Framework/src/test/java/tests">
        <classes>
            <class name="tests.VWOLogin_POM1">
                <methods>
                    <include name="VWOInvaliduser"/>
                </methods>
            </class>
            <class name="tests.VWOLogin_POM2">
                <methods>
                    <include name="VWOInvaliduser"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>